#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: royalblue;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #0056b3; /* color blends with royal blue */
    text-decoration: none;
}

a:hover {
    color: #D6A800; 
}

a:visited {
    color: #551a8b; /* Blends with chosen color scheme */
}