container {
            display: flex;
            justify-content: space-between;
        }

h1 {
            text-align: center; 
        }
		
h3 {
			font-weight: 500;
}

ul, ol {
    font-weight: 300;
}
		
ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

ul {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style-type: upper-roman;
    list-style-position: inside;
}

a:hover {
    text-decoration: underline;
}


        .left-div {
            width: 45%;
        }

		.right-div {
			width: 45%;
		}
        .full-width-div {
            width: 100%;
            margin-top: 60%; 
            padding: 15px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .float-right {
            float: right;
            text-decoration: none;
            color: blue;
        }
		
		.float-left {
            float: left;
            text-decoration: none;
            color: blue;
        }